#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
     /* border:  1px solid black; */
}
#container>div{
    /* border:  1px solid black; */
    margin: auto;
    text-align: center;
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
}
#box1{
    display: grid;
    /* border:  1px solid black; */
    /* width: 50%; */
}
#box2{
  
    /* border:  1px solid black; */
    /* width: 50%; */
    color: gray;
    text-decoration: line-through;
    
}
#mainbox{
    /* border:  1px solid black; */
    display: flex;
    justify-content: space-around;
}